<!DOCTYPE html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles/bootstrap.min.css" />
    <style>
      .container {
        font-family: sans-serif;
        margin: 0 auto;
        width: 500px;
      }

      .form-group {
        margin-bottom: 10px;
      }

      .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
      }

      .btn {
        padding: 10px 20px;
        border: 1px solid #ccc;
        cursor: pointer;
      }
    </style>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <div class="container" ng-controller="LunchCheckController">
      <h1>{{"Lunch Checker" | uppercase}}</h1>

      <div class="form-group">
        <input
          id="lunch-menu"
          type="text"
          placeholder="list comma separated dishes you usually have for lunch"
          class="form-control"
          ng-model="items"
        />
      </div>
      <div class="form-group">
        <button class="btn btn-default" ng-click="checkLunch()">
          Check If Too Much
        </button>
      </div>
      <div class="form-group message" ng-bind="message">
        <!-- Your message can go here. -->
      </div>
    </div>
  </body>
</html>
